<%# edit button %>

<h1>Post Number <%=@post.id%> </h1>
<h3> <%= @post.title %> </h3>

<h3> Post Page </h3>
Post Title: <%= @post.title %>
<br>
Post Content: <%= @post.content %>
<br>
Post Likes: <%= @post.likes%>
<br>
Post Blogger: <%= link_to @post.blogger.name, blogger_path(@post.blogger)%>
<br>
Post Destination: <%= link_to @post.destination.name, destination_path(@post.destination)%>

<br>

<%# button_to 'Click for a like' , addlike_path(@post) %>
<%= button_to "Click to Like", like_path(@post.id), :method => "patch" %>
<%= button_to "Unlike", dislike_path(@post.id), :method => "patch" %>
<br>
<br>
<%= link_to "Edit this post", edit_post_path(@post) %>
<br>
<%= link_to "Back to Post List", posts_path %>
<br>
<%= button_to "Delete this post", @post, method: :delete, data: {confirm: "Are you sure?"} %>
